.info {
  max-width: 1000px;
  margin: auto;
}
.info figure {
  float: right;
  width: clamp(300px, 40vw, 600px);
  margin-left: var(--margin-l);

  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  .info figure {
    float: none;
    margin: 0;
  }
}
