/* || VARIABLES */
:root {
  --font-size: clamp(1rem, 1.5vh, 1.2rem);
  --font-size-large: clamp(2rem, 4vh, 4rem);
  --font-size-small: 0.95rem;
  --heading-font-size: min(100vw, 35px);

  /* COLOR */
  --color: grey;
  --primary-color: rgb(141, 3, 210);
  --flat-black: rgb(43, 43, 43);
  --bg-color: var(--primary-color);
  --white: rgb(255, 255, 255);
  --header-hero-bacground-color: #ffd5ff;

  /* PADDING */
  --header-padding: 0.8rem;
  --padding: 1rem;
  --padding-small: 0.5rem;
  --padding-tb: 0.7rem;
  --section-padding-top: 78px;
  --section-padding-bottom: 48px;

  /* WIDTH */
  --section-max-width: 900px;

  /* ANIMATION */
  --animation-duration-long: 1s;
  --animation-duration-short: 0.25s;
  --animation-duration-very-short: 0.25s;
  --animation-duration: 0.5s;

  --transition-duration: 0.5s;

  /* BORDER */
  --border-radius: 16px;
  --border-radius-L: 1rem;
}

/* || RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: var(--font-size);
  scroll-margin-top: 800px;
}
h1 {
  font-size: clamp(2.5rem, 7vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 50px;
  font-weight: 800;
  margin-bottom: 2rem;
}
h2 {
  font-size: var(calc(--font-size-small) + 10px);
  text-align: center;
  color: var(--primary-color);
}
h2,
h3 {
  margin-bottom: 10px;
  /* text-align: center; */
}
p {
  line-height: 20px;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  color: var(--color);
  transition: 0.5s;
}
li {
  list-style-type: none;
}

button {
  border-radius: var(--border-radius);
  color: var(--white);
  font-weight: 600;
  border: none;
  transition: var(--transition-duration);
  padding: 0.8rem 3rem;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
  /* transform: translateY(-5px); */
}
body {
  height: 100%;
  background-color: rgb(254, 247, 255, 0.8);
}
